<div *ngIf="showLayoutComponents">
  <app-sidebar [isCollapsed]="isSidebarCollapsed"></app-sidebar> <!-- Passando o estado -->
  <div class="main-content" [class.collapsed]="isSidebarCollapsed">
    <app-header 
          [isSidebarCollapsed]="isSidebarCollapsed" 
          (toggleSidebar)="toggleSidebar()"></app-header>
    <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="!showLayoutComponents" class="login-page">
  <app-theme-toggle></app-theme-toggle>
  <router-outlet></router-outlet>
</div>
