<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="logo-container">
    <img src="assets/images/HORUS.png" alt="Hórus Logo" class="logo">
    <span class="app-name">Hórus</span>
  </div>
  <nav>
    <ul>
      <li><i class="pi pi-home"></i> <span>Dashboard</span></li>
      <li><i class="pi pi-briefcase"></i> <span>Projetos</span></li>
      <li><i class="pi pi-calendar"></i> <span>Atividades</span></li>
      <li><i class="pi pi-clock"></i> <span>Horas</span></li>
      <li><i class="pi pi-chart-line"></i> <span>Relatórios</span></li>
      <li><i class="pi pi-user"></i> <span>Usuários</span></li>
    </ul>
  </nav>
</aside>
