<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Bem-vindo ao <span class="highlight">Hórus</span></h2>
    <app-theme-toggle></app-theme-toggle>
  </div>

  <div class="dashboard-cards">
    <p-card class="dashboard-card">
      <ng-template pTemplate="header">
        <h3>Projetos</h3>
      </ng-template>
      <ng-template pTemplate="content">
        <p>Total de projetos ativos: <strong>12</strong></p>
      </ng-template>
    </p-card>

    <p-card class="dashboard-card">
      <ng-template pTemplate="header">
        <h3>Horas Lançadas</h3>
      </ng-template>
      <ng-template pTemplate="content">
        <p>Total de horas este mês: <strong>85h</strong></p>
      </ng-template>
    </p-card>

  </div>
</div>